{
  "foyer":{
    "host":"",
    "db":"",
    "table":"",
    "port":"",
    "user":"",
    "passwd":""
  },
  "showroom":{
    "host":"",
    "db":"",
    "table":"",
    "port":"",
    "user":"",
    "passwd":""
  }
}
